@font-face {
  font-family: CoolCrayon;
  src: url(DKCoolCrayon.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: CoolCrayon;
  color: white;
}

body {
  background-image: url(chalkboard.jpg);
}

#header {
  margin-bottom: 10px;
  font-size: 40px;
  height: 120px;
  text-align: center;
  line-height: 120px;
  font-size: 80px;
}

#board {
  height: 600px;
  width:600px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  font-size: 80px;
  background-image: url(gridc.png);
  background-repeat: no-repeat;
}

#topleft {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  top: 0px;
  bottom: 400px;
  left: 0px;
  right: 400px;
  text-align: center;
  line-height: 200px;
}

#topcenter {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  top: 0px;
  bottom:400px;
  left: 200px;
  right: 200px;
  text-align: center;
  line-height: 200px;
}

#topright {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  top: 0px;
  bottom:400px;
  left: 400px;
  right: 0px;
  text-align: center;
  line-height: 200px;
}

#middleleft {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  top: 200px;
  bottom:200px;
  left: 0px;
  right: 400px;
  text-align: center;
  line-height: 200px;
}

#middlecenter {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  top: 200px;
  bottom:200px;
  left: 200px;
  right: 200px;
  text-align: center;
  line-height: 200px;
}

#middleright {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  top: 200px;
  bottom:200px;
  left: 400px;
  right: 0px;
  text-align: center;
  line-height: 200px;
}

#bottomleft {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  top: 400px;
  bottom: 0px;
  left: 0px;
  right: 400px;
  text-align: center;
  line-height: 200px;
}

#bottomcenter {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  top: 400px;
  bottom:0px;
  left: 200px;
  right: 200px;
  text-align: center;
  line-height: 200px;
}

#bottomright {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  top: 400px;
  bottom:0px;
  left: 400px;
  right: 0px;
  text-align: center;
  line-height: 200px;
}
